version: '3.9'

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: telegram_bot_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  telegrambot:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DB_CONNECTION=Host=postgres;Port=5432;Database=telegram_bot_db;Username=postgres;Password=${POSTGRES_PASSWORD}
      - ASPNETCORE_ENVIRONMENT=Production
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    depends_on:
      - postgres
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
